/* Color schemes, fonts & backgrounds */
/* ------------------------------------------------ */

.yamahaRed {
    color: #F30611;
}

.lightbodybg {
    background-color: #F8F7FF;
}

.lightmainbg {
    background-color: #FFFFFF;
}

.lightredtext {
    color: #F1FAEE;
}

/* Nav styles */
/* ------------------------------------------------ */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #F8F7FF;
    margin-bottom: 10px;
    font-size: 75%;
    box-shadow: .5px .5px 5px #909090;
}

.motoLink {
    margin-left: 7%;
}

.floatingNav {
    color: black;
    line-height: .5em;
}
/* Header styles */
/* ------------------------------------------------ */
.navbartext {
    font-size: .25em;
}

.navbartextPadding {
    padding-left: 19%;
    white-space: nowrap;
}

.icon {
    height: 2rem;
    width: 2rem;
    margin-left: 25px;
    box-shadow: .5px .5px 5px #909090;
}

nav a:hover {
    text-shadow: .5px .5px .5px #F30611;
    color: #F1FAEE;
}

/* Banner styles */
/* ------------------------------------------------ */
.jumbotron {
    height: 295px;
    margin-bottom: 20px;
    margin-top: 10px;
   }

.jumbotronHome {
    background: url(../../img/banners/tempban2.png) center no-repeat;
    background-size: cover;
}

.jumbotronAbout {
    background: url(../../img/banners/oceanBanner.png) center no-repeat;
    background-size: cover;
}

.jumbotronShowroom {
    background: url(../../img/banners/oceanBanner.png) center no-repeat;
    background-size: cover;
}

.jumbotronScooters {
    background: url(../../img/banners/oceanBanner.png) center no-repeat;
    background-size: cover;
}

.jumbotronService {
    background: url(../../img/banners/oceanBanner.png) center no-repeat;
    background-size: cover;
}

/* Body styles */
/* ------------------------------------------------ */
.mainContent {
    box-shadow: 0 10px 5px #000000;
}

/*Footer styles */
/* ------------------------------------------------ */
footer {
    font-size: .25rem;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    margin-bottom: 15px;
}

/* Misc styles */

h1 {
    text-shadow: #909090 1px 1px 5px;
}






.visborder {
    border: 3px solid pink;
}