.yamahaRed {
    color: #F30611;
}

.darkblackbg {

    /* Dark choice */
    background-color: #1E0102;

    /* Light choice */
    /* background-color: #FFFFFF; */
}

.darkgreybg {

    /* Dark choice */
    background-color: #343434;

    /* Light choice */
    /* background-color: #F8F4FF; */
}

.lightredtext {

    /* Dark choice */
    /* color: #180001; */

    /* Light choice */
    color: #F1FAEE;
    
}

.lightredbg {

    /* Light choice */
    background-color: #E3DFDF;

    /* Light choice */
    /* background-color: #FFFFFF; */
}

.jumbotron {
    height: 295px;
    margin-bottom: 20px;
    margin-top: 10px;
   }

.jumbotronHome {
    background: url(../../img/banners/tempban2.png) center no-repeat;
    background-size: cover;
}

.jumbotronScooter {
    background: url(../../img/banners/tempban3.png) center no-repeat;
    background-size: cover;
}

footer {
    font-size: .75rem;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
}

nav a:hover {
    text-shadow: .5px .5px 5px #F30611;

    color: #F1FAEE;
    /* color: #180001; */
}